server:
  port: 8080
  host: 0.0.0.0

  features.static-content.classpath:
    - context: /ui
      location: /WEB
      welcome: index.html

oci:
  tenant: helidondev
  user: daniel.kec@oracle.com
  token: ${OCI_AUTH_TOKEN}
  test-stream:
    name: TestStream
    endpoint: cell-1.streaming.us-phoenix-1.oci.oraclecloud.com
    port: 9092
    streampool-ocid: ocid1.streampool.oc1.phx.amaaaaaamevwycaap72ouurhfjrakuccakjpse5kenpkm5oikbgaadtq6byq

mp.messaging:

  incoming.from-stream:
    connector: helidon-kafka
    topic: ${oci.test-stream.name}
    enable.auto.commit: false
    group.id: example-group-1

  outgoing.to-stream:
    connector: helidon-kafka
    topic: ${oci.test-stream.name}
    # KIP-679 Compatibility issue with OCI Streams Kafka API and newer clients
    enable.idempotence: false

  connector:
    helidon-kafka:
      bootstrap.servers: ${oci.test-stream.endpoint}:${oci.test-stream.port}
      sasl.mechanism: PLAIN
      security.protocol: SASL_SSL
      sasl.jaas.config:  >-
        org.apache.kafka.common.security.plain.PlainLoginModule
        required
        username="${oci.tenant}/${oci.user}/${oci.test-stream.streampool-ocid}"
        password="${oci.token}";

      key.serializer: org.apache.kafka.common.serialization.StringSerializer
      value.serializer: org.apache.kafka.common.serialization.StringSerializer
      key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value.deserializer: org.apache.kafka.common.serialization.StringDeserializer